::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background-color: rgba(183, 219, 255, 0.2);
}

::-webkit-scrollbar-thumb {
	background-color: rgb(174, 215, 255);
	border-radius: 5px;
}
